<div class="app-body mat-typography">
    <mat-toolbar
        color="primary"
        class="toolbar-block">
        Carousel demo
    </mat-toolbar>
    <ng-carousel
        #carouselRef="ngCarousel"
        [config]="config"
        (itemIndexChange)="setItemIndex($event)"
        class="carousel-block">
        <ng-template
            [ngCarouselSlide]="carouselRef"
            let-item
            let-active="isActive"
            let-activeOnTheRight="activeOnTheRight"
            let-activeOnTheLeft="activeOnTheLeft">
            <div
                [class.active]="active"
                [style.background-image]="item.image"
                class="carousel-slide">
                <h2>
                    {{item.name}}
                </h2>
                <button
                    (click)="emitLog()"
                    mat-raised-button
                    ngCarouselPreventGhostClick
                    color="primary">
                    Primary action
                </button>
                <button
                    (click)="emitLog()"
                    mat-button
                    ngCarouselPreventGhostClick
                    color="primary">
                    Secondary action
                </button>
                @if (active) {
                    <span>This slide is active</span>
                }
                @if (activeOnTheLeft || activeOnTheRight) {
                    <span>
                        @if (activeOnTheLeft) {
                            ←
                        }
                        <span> Active slide this side </span>
                        @if (activeOnTheRight) {
                            →
                        }
                    </span>
                }
            </div>
        </ng-template>
    </ng-carousel>
    <div class="control-panel">
        @for (item of carouselRef?.items; track item; let i = $index) {
            <button
                [class.active]="i === itemIndex"
                (click)="carouselRef.setIndex(i)"
                class="bullet-button"
                mat-icon-button>
                {{i + 1}}
            </button>
        }
    </div>
    <div class="control-panel">
        <button
            (click)="carouselRef.prev()"
            mat-raised-button
            color="primary">
            prev
        </button>
        <button
            (click)="carouselRef.next()"
            mat-raised-button
            color="primary">
            next
        </button>
    </div>
    <div class="control-panel">
        <button
            (click)="carouselRef.recalculate()"
            mat-raised-button
            color="primary">
            Recalculate positions
        </button>
    </div>
    <mat-card class="card-block">
        <mat-card-content>
            <form
                [formGroup]="configForm"
                class="form-block">
                <label class="control-block">
                    <div>Align mode</div>
                    <mat-button-toggle-group formControlName="alignMode">
                        <mat-button-toggle [value]="LEFT">To the left</mat-button-toggle>
                        <mat-button-toggle [value]="CENTER">To the center</mat-button-toggle>
                    </mat-button-toggle-group>
                </label>
                <label class="control-block">
                    <div>Width mode</div>
                    <mat-button-toggle-group formControlName="widthMode">
                        <mat-button-toggle [value]="PX">In pixels</mat-button-toggle>
                        <mat-button-toggle [value]="PERCENT">In percents</mat-button-toggle>
                    </mat-button-toggle-group>
                </label>
                <label class="control-block">
                    <div>Fill empty space</div>
                    <mat-button-toggle-group formControlName="shouldLoop">
                        <mat-button-toggle [value]="true">Allow copies</mat-button-toggle>
                        <mat-button-toggle [value]="false">Do not fill</mat-button-toggle>
                    </mat-button-toggle-group>
                </label>
                <label class="control-block">
                    <div>Slide width: {{slideWidth$ | async}}{{widthMode$ | async}}</div>
                    <div class="range-block">
                        <mat-slider [max]="maxWidth">
                            <input
                                matSliderThumb
                                formControlName="slideWidth">
                        </mat-slider>
                        <div
                            aria-hidden="true"
                            class="range-labels-block mat-caption">
                            <div>0</div>
                            <div>{{maxWidth}}</div>
                        </div>
                    </div>
                </label>
                <label class="control-block">
                    <div>Animation duration: {{transitionDuration$ | async}}</div>
                    <div class="range-block">
                        <mat-slider max="5000">
                            <input
                                matSliderThumb
                                formControlName="transitionDuration">
                        </mat-slider>
                        <div
                            aria-hidden="true"
                            class="range-labels-block mat-caption">
                            <div>0</div>
                            <div>5000</div>
                        </div>
                    </div>
                </label>
                <label class="control-block">
                    <div>Slide quantity: {{slidesQuantity$ | async}}</div>
                    <div class="range-block">
                        <mat-slider max="100">
                            <input
                                matSliderThumb
                                formControlName="slidesQuantity">
                        </mat-slider>
                        <div
                            aria-hidden="true"
                            class="range-labels-block mat-caption">
                            <div>0</div>
                            <div>100</div>
                        </div>
                    </div>
                </label>
                <label class="control-block">
                    <div>Recalculate debounce: {{recalculateDebounce$ | async}}</div>
                    <div class="range-block">
                        <mat-slider max="3000">
                            <input
                                matSliderThumb
                                formControlName="recalculateDebounce">
                        </mat-slider>
                        <div
                            aria-hidden="true"
                            class="range-labels-block mat-caption">
                            <div>0</div>
                            <div>3000</div>
                        </div>
                    </div>
                </label>
                <div class="control-block">
                    <mat-checkbox
                        formControlName="autoplayEnabled"
                        color="primary">
                        Autoplay
                    </mat-checkbox>
                    <mat-checkbox
                        formControlName="dragEnabled"
                        color="primary">
                        Gestures
                    </mat-checkbox>
                    <mat-checkbox
                        formControlName="shouldRecalculateOnResize"
                        color="primary">
                        Autoresize
                    </mat-checkbox>
                    <mat-checkbox
                        formControlName="allowKeyboardNavigation"
                        color="primary">
                        Keyboard navigation
                    </mat-checkbox>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
