<div class="app-body mat-typography">
    <mat-toolbar
        color="primary"
        class="toolbar-block">
        Carousel demo
    </mat-toolbar>
    <ng-carousel
        #carouselRef="ngCarousel"
        [config]="config"
        (itemIndexChange)="setItemIndex($event)"
        class="carousel-block">
        <ng-template
            [ngCarouselSlide]="carouselRef"
            let-item
            let-active="isActive"
            let-activeOnTheRight="activeOnTheRight"
            let-activeOnTheLeft="activeOnTheLeft">
            <div
                [class.active]="active"
                [style.background-image]="item.image"
                class="carousel-slide">
                <h2>
                    {{item.name}}
                </h2>
                <button
                    (click)="emitLog()"
                    mat-raised-button
                    ngCarouselPreventGhostClick
                    color="primary">
                    Primary action
                </button>
                <button
                    (click)="emitLog()"
                    mat-button
                    ngCarouselPreventGhostClick
                    color="primary">
                    Secondary action
                </button>
                <span *ngIf="active">
                    This slide is active
                </span>
                <span *ngIf="activeOnTheLeft || activeOnTheRight">
                    <ng-container *ngIf="activeOnTheLeft">
                        🠐
                    </ng-container>
                    <span> Active slide this side </span>
                    <ng-container *ngIf="activeOnTheRight">
                        🠒
                    </ng-container>
                </span>
            </div>
        </ng-template>
    </ng-carousel>
    <div class="control-panel">
        <button
            *ngFor="let item of config.items; index as i;"
            [class.active]="i === itemIndex"
            (click)="carouselRef.setIndex(i)"
            class="bullet-button"
            mat-icon-button>
            {{i + 1}}
        </button>
    </div>
    <div class="control-panel">
        <button
            (click)="carouselRef.prev()"
            mat-raised-button
            color="primary">
            prev
        </button>
        <button
            (click)="carouselRef.next()"
            mat-raised-button
            color="primary">
            next
        </button>
    </div>
    <div class="control-panel">
        <button
            (click)="carouselRef.recalculate()"
            mat-raised-button
            color="primary">
            Recalculate positions
        </button>
    </div>
    <mat-card class="card-block">
        <form
            [formGroup]="configForm"
            class="form-block">
            <label class="control-block">
                <div>Align mode</div>
                <mat-button-toggle-group formControlName="alignMode">
                    <mat-button-toggle [value]="LEFT">To the left</mat-button-toggle>
                    <mat-button-toggle [value]="CENTER">To the center</mat-button-toggle>
                </mat-button-toggle-group>
            </label>
            <label class="control-block">
                <div>Width mode</div>
                <mat-button-toggle-group formControlName="widthMode">
                    <mat-button-toggle [value]="PX">In pixels</mat-button-toggle>
                    <mat-button-toggle [value]="PERCENT">In percents</mat-button-toggle>
                </mat-button-toggle-group>
            </label>
            <label class="control-block">
                <div>Fill empty space</div>
                <mat-button-toggle-group formControlName="shouldLoop">
                    <mat-button-toggle [value]="true">Allow copies</mat-button-toggle>
                    <mat-button-toggle [value]="false">Do not fill</mat-button-toggle>
                </mat-button-toggle-group>
            </label>
            <label class="control-block">
                <div>Slide width: {{slideWidth$ | async}}{{widthMode$ | async}}</div>
                <div class="range-block">
                    <mat-slider
                        [max]="maxWidth"
                        formControlName="slideWidth"
                        thumbLabel>
                    </mat-slider>
                    <div
                        aria-hidden="true"
                        class="range-labels-block mat-caption">
                        <div>0</div>
                        <div>{{maxWidth}}</div>
                    </div>
                </div>
            </label>
            <label class="control-block">
                <div>Animation duration: {{transitionDuration$ | async}}</div>
                <div class="range-block">
                    <mat-slider
                        max="5000"
                        formControlName="transitionDuration"
                        thumbLabel>
                    </mat-slider>
                    <div
                        aria-hidden="true"
                        class="range-labels-block mat-caption">
                        <div>0</div>
                        <div>5000</div>
                    </div>
                </div>
            </label>
            <label class="control-block">
                <div>Slide quantity: {{slidesQuantity$ | async}}</div>
                <div class="range-block">
                    <mat-slider
                        max="100"
                        formControlName="slidesQuantity"
                        thumbLabel>
                    </mat-slider>
                    <div
                        aria-hidden="true"
                        class="range-labels-block mat-caption">
                        <div>0</div>
                        <div>100</div>
                    </div>
                </div>
            </label>
            <label class="control-block">
                <div>Recalculate debounce: {{recalculateDebounce$ | async}}</div>
                <div class="range-block">
                    <mat-slider
                        max="3000"
                        formControlName="recalculateDebounce"
                        thumbLabel>
                    </mat-slider>
                    <div
                        aria-hidden="true"
                        class="range-labels-block mat-caption">
                        <div>0</div>
                        <div>3000</div>
                    </div>
                </div>
            </label>
            <div class="control-block">
                <mat-checkbox formControlName="autoplayEnabled">
                    Autoplay
                </mat-checkbox>
                <mat-checkbox formControlName="dragEnabled">
                    Gestures
                </mat-checkbox>
                <mat-checkbox formControlName="shouldRecalculateOnResize">
                    Autoresize
                </mat-checkbox>
            </div>
        </form>
    </mat-card>
</div>
