:host {
    height: 100%;
}

.app-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #e8e8e8;

    .toolbar-block {
        flex: none;
    }

    .carousel-block {
        flex: none;
        width: 100%;
    }

    .carousel-slide {
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 16px solid rgb(105, 105, 105);

        &.active {
            border-color: lightcoral;
        }
    }

    .card-title {
        margin-bottom: 40px;
    }

    .control-panel {
        flex: none;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 16px;
        max-height: 300px;
        overflow-y: auto;
        padding: 16px;
    }

    .bullet-button {
        font-size: 16px;
        font-weight: 500;
        font-family: 'Roboto';

        &.active {
            background: lightgray;
        }
    }

    .card-block {
        max-width: 1200px;
        flex: none;
        margin: 8px auto;
        display: flex;
        column-gap: 40px;
        color: white;
    }

    .form-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }

    .control-block {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: self-start;
    }

    .range-block {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-width: 240px;
    }

    .range-labels-block {
        display: flex;
        justify-content: space-between;
    }
}

